### Application Configuration ###
*.properties
*.log

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!build.gradle

gradle/.tmp/
gradle/caches/
gradle/build-scan-data/
gradle/daemon/
gradle/native/
gradle/wrapper/dists/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/generated/com/cho_co_song_i/yummy/yummy/entity/QStoreRecommendTbl.java
